.TabButton{
    display: inline-block;
    padding: 15rem , 15rem 0;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 1vw;
    padding-bottom: 1vh;
    margin: 1vw 0;

    /* border: 2px  solid palevioletred; */
    background: transparent;
    color: #2C363F;
    border-bottom: 5px #F3DFA2;
    border: 5px solid Transparent;
    
    border-width:2px 2px 0px 2px;
    transition: all .2s;
}
.TabButton.active{
    background: #F3DFA2;
}